# Questo e' la SECRET del bot token che co da BOT Father (questo e' u nesempio sostituisci con il tuo)
BOT_TOKEN=7203361222:AVWy3HbuqQWWbmKeseJQPQ2VKcVVAqTWcrw

# Questo e' URL del backend che riceve i dati , e che ci manda i limiti questo e' un esempio sostituisci con il tuo
REPORT_ENDPOINT=https://co2backend.onrender.com

# Questo e' il PORT del backend che riceve i dati puoi lasciare cosi' senza problemi
PORT=3000

## qui intendiamo se siamo in ambiente di produzione o local intendiamo LATO BACKEND- NON import dove gira il bot in reata' lasciare con il # quella da disattivare
ENVIRONMENT=production
#ENVIRONMENT=local
